ul{
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(31, 0, 0);
    display: flex;
    justify-content: space-evenly;
    padding-right: 2rem;
    font-size: 1.5rem;
    li{
        margin-right: 10px;
        cursor: pointer;
        
    }
    li:hover{
        color: white;
        text-shadow: 5px 5px 5px black;
    }
}